@font-face {
    font-family: 'Akrobat';
    src: url('../font/subset-Akrobat-Light.woff2') format('woff2'),
        url('../font/subset-Akrobat-Light.woff') format('woff'),
        url('../font/subset-Akrobat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../font/subset-Akrobat-Regular.woff2') format('woff2'),
        url('../font/subset-Akrobat-Regular.woff') format('woff'),
        url('../font/subset-Akrobat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../font/subset-Akrobat-SemiBold.woff2') format('woff2'),
        url('../font/subset-Akrobat-SemiBold.woff') format('woff'),
        url('../font/subset-Akrobat-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../font/subset-Akrobat-Bold.woff2') format('woff2'),
        url('../font/subset-Akrobat-Bold.woff') format('woff'),
        url('../font/subset-Akrobat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../font/subset-Akrobat-ExtraBold.woff2') format('woff2'),
        url('../font/subset-Akrobat-ExtraBold.woff') format('woff'),
        url('../font/subset-Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}




